:root{
    --danger:#ff8a80;
    --blue:#0d47a1;
    --light:#bbdefb;
    --background:rgb(227, 227, 227);
    /* --gBlue:#04ABAC */
    --gBlue:#037878
}
body{
    background-color:var(--background) ;
}
