.navbar{
    background-color: var(--gBlue);
    padding: 1rem 0;   
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}
.container{
    display: flex;
    align-items: center;
    width: 90%;
    max-width: 100%;

}
.navbar-brand{
    display: inline-block;
    color: white;
    font-size: 1.4rem; 
    width: 50%;
    user-select: none;
}
.navbar-button{
    display: none;
}

.navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    margin-right: 2rem;
}
.navbar-item{
    display: inline-block;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.1rem;
    border-bottom: 0.2rem solid transparent;
    transition: all 0.2s ease-in-out;

}
.navbar-item:hover{
    border-bottom: 0.2rem solid white;
}
.navbar-user{
    margin-top: 0.5rem;
    text-align: right;
    color: var(--background);
    user-select: none;
    font-size: 1rem;
    font-style:italic;
}
.navbar-user span{
font-weight: 500;
}
.navbar-menu{
    display: none;
}
@media screen and (max-width:900px) {

.container{
    justify-content: space-between;
}
.navbar-container{
    display: none;
}
.navbar-brand{
    font-size: 1.5rem;
}
.navbar-user{
    display: none;
}
.navbar-button{
    background: none;
    border: none;
    cursor: pointer;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.9rem;
}
.navbar-menu{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: 10;
    transition: all 0.3s ease-in-out;
}
.navbar-menu-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.navbar-menu-item{
    display: block;
    width: 100%;
    color: white;
    color: rgba(255, 255, 255, 0.502);
    text-decoration: none;
    font-size: 1.2rem;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.402);
    transition: all 0.3s ease-in-out;
}
.navbar-menu-item:hover{
    color: white;
}
.navbar-menu-user{
    color: rgba(255, 255, 255, 0.502);
    padding: 1rem 0;
    font-size: 1.2rem;
    font-style:italic;

}
}