.polls{
    margin: 1rem 0;
}
.polls li{
    background-color: var(--light);
    color: var(--blue);
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    width: 80%;
    border: 2px solid transparent;
    border-radius: 0.2rem;
    margin: auto;
}
.polls li:nth-child(odd){
    background-color: white;
}
.polls li:hover{
    border: 2px solid var(--blue);
}